.App {
  text-align: center;
}

.App-header {
  background-color: rgb(2, 75, 2);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FavInput {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-column-gap: 120px;
  grid-row-gap: 20px;
  justify-content: center;
}

button:hover, .Selected {
  background-color: rgb(2, 75, 2);
}

.Selected {
  color: white;
}

button {
  background-color: rgb(175, 243, 166);
  display: inline-block;
  height: 60px;
  width: 120px;
  margin: 10px!important;
}

.Slider {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.hue-picker {
  width: 1000px!important;
}

ul {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding-left: 20px!important;
  padding-right: 20px!important;
  margin: auto;
  margin-bottom: 0px!important;
}
li {
  display: inline-block;
  list-style-type: none;
}

h2 {
  padding: 20px;
}
