.App {
  text-align: center;
}

.App-header {
  background-color: rgb(2, 75, 2);
  min-height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-header h1 {
  font-weight: bold;
  font-size: calc(48px + 2vmin);
}

.intro {
  max-width: 900px;
  margin: auto;
  margin-top: 36px;
}

h2, h3{
  padding-top: 36px;
}

h4 {
  padding-top: 12px;
}

.FavInput {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-column-gap: 60px;
  grid-row-gap:24px;
  justify-content: center;
}

button {
  background-color: rgb(175, 243, 166);
  display: inline-block;
  height: 60px;
  width: 120px;
  margin: 12px!important;
  border-radius: 12px!important;
}

button:hover, .Selected {
  background-color: rgb(2, 75, 2);
  border-width: 6px;
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  padding-left: 20px!important;
  padding-right: 20px!important;
  margin-bottom: 6px!important;
}
li {
  display: inline-block;
  list-style-type: none;
}

.Slider {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.hue-picker {
  width: 900px!important;
}

.Generate button {
  width: 180px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  overflow: auto;
  border: 1px solid #888;
  width: 600px!important; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
